extend BackendLayout

block ExtraHeader
  script(src="/javascript/POST.js")

block Content
  div.my-3.my-md-5
    div.container
      div.page-header
        h1.page-title Current Slides
        div.page-subtitle Current Photos/Videos
        div.page-options.d-flex
          a(href="#{TargetURL}").btn.btn-primary Add new slide

      div.row.row-cards
        for slideContent, i in Content
          div.col-sm-6.col-lg-4
            div.card.p-3
              a.mb-3
                if slideContent.type == "image"
                  img.rounded(src="#{slideContent.url}")
                else
                  video.rounded(style="width: 98%")
                    source(src="#{slideContent.url}",type="video/mp4")
              div.d-flex.align-items-center.px-2
                //div.avatar.avatar-md.mr-3(style="background-image: url()")
                div= slideContent.name

                div.ml-auto.text-muted
                  a.icon(onclick='removeFunction("#{slideContent.objectID}");')
                    i.fe.fe-trash-2 Trash

                  a.icon(onclick='editFunction("#{slideContent.objectID}");',style="margin-left: 1.5em")
                    i.fe.fe-edit Edit
