html
  head
    title Ad Slideshow
    link(rel='stylesheet', href='/stylesheets/adStyle.css')
    link(rel='stylesheet', href='/stylesheets/clock.css')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Lato')

  body
    div.fullpage(style="background-image: url(/images/Blue.jpg);")
      div.logo
        img(src="/images/banner_logo_white.png", height="100")

      div.timer
        p#dateDisplay.date
        p
        p#timeDisplay.time

      div.slideshowContainer
      div.personalContainer

      for slideContent, i in Content
        if slideContent.position == "gallery1"
          if slideContent.type == "image"
            div.slideshow.slideshowImage(style="background-image: url(#{slideContent.url}) !important;")
          else
            div.slideshow
              video#slideVideo(autoplay,muted).slideshowImage
                source(src="#{slideContent.url}",type="video/mp4")


      for slideContent, i in Content
        if slideContent.position == "gallery2"
          if slideContent.type == "image"
            div.slideshow2.slideshowProfile(style="background-image: url(#{slideContent.url}) !important;")
          else
            div.slideshow2
              video#profileVideo(autoplay,muted).slideshowProfile
                source(src="#{slideContent.url}",type="video/mp4")

      div.footerText
        h1.announcement(style="color: #ffffff")= Message


  script(src='/javascript/clock.js')
  script.
    var i;
    var slideIndex = 0;
    var profileIndex = 0;
    var content = !{JSON.stringify(Content)};
    var slideDeck = []
    var profileDeck = []
    for (i = 0; i < content.length; i++) {
      if (content[i].position == "gallery1") {
          slideDeck.push(content[i]);
      } else {
          profileDeck.push(content[i]);
      }
    }

    function slideshowUpdate() {
        var i;
        var x = document.getElementsByClassName("slideshow");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;

        if (slideIndex > x.length) {slideIndex = 1}

        if (x.length > 0) x[slideIndex-1].style.display = "block";

        if (content[slideIndex-1].type == "video")
            document.getElementById("slideVideo").load();

        if (x.length > 0) setTimeout(slideshowUpdate, slideDeck[slideIndex-1].delay * 1000); // Change image every 2 seconds
    }

    function profileslideUpdate() {
      var i;
      var x = document.getElementsByClassName("slideshow2");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      profileIndex++;

      if (profileIndex > x.length) {profileIndex = 1}

      if (x.length > 0) x[profileIndex-1].style.display = "block";

      if (profileDeck[profileIndex-1].type == "video")
        document.getElementById("profileVideo").load();

      if (x.length > 0) setTimeout(profileslideUpdate, profileDeck[profileIndex-1].delay * 1000); // Change image every 2 seconds
    }

    slideshowUpdate();
    profileslideUpdate();
